@charset "UFT-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 200%;
}

.logo {
    width: 100%;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 34%;
    list-style: none;
}

.main-nav li {
    color: #fff;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
}

.page-header {
display: flex;
justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.news-content {
    text-align: center;
    margin-top: 10%;
}

#news {
    background-color: #fff;
    height: 270px;
    margin-bottom: 40px;
}

article img {
    margin-bottom: 40px;
}

article p {
    margin-bottom: 1rem;
}

