@charset "UFT-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 200%;
}

.logo {
    width: 100%;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 34%;
    list-style: none;
}

.main-nav li {
    color: #fff;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
}

.page-header {
display: flex;
justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.news-content {
    text-align: center;
    margin-top: 10%;
}

#news {
    background-color: crimson;
    height: 270px;
    margin-bottom: 40px;
}

article img {
    margin-bottom: 40px;
}

article p {
    margin-bottom: 1rem;
}

aside p{
    padding: 12px 10px;

    .sub-menu {
        margin-bottom: 60px;
        list-style: none;
    }

    .sub-menu li {
        border-bottom: 1px #ddd solid;
    }

    .sub-menu a {
        color: #432;
        padding: 10px;
        display: block;
    }

    .sub-menu a:hover{
        color: #0bd;
    }
}

footer{
    background-color: #432;
    text-align: center;
    text-decoration: underline;
    padding: 26px 0;
}

footer{
    color: #fff;
    font-size: 0.875rem;
}

